//@formatter:off
//region: Custom

@import "../../../styles/base";


$menu-bg-color                      : $blue-grey-7;
$menu-bg                            : $menu-bg-color;
//$menu-horizontal-height             : 100px;
//$menu-vertical-width                : 300px;
//$menu-vertical-collapsed-width      : 40px;
$menu-border                        : 1px solid $blue-grey-14;
$menu-border-radius                 : 5px;

$menu-item-horizontal-seperator     : 1px solid black;
$menu-item-vertical-seperator       : 1px solid black;

$menu-item-fg-size                  : $font-size-base;
$menu-item-fg-weight                : normal;

$menu-item-fg-color                 : $blue-grey-2;
$menu-item-fg-color-hover           : $blue-grey-1;
$menu-item-fg-color-active          : $menu-item-fg-color-hover;

$menu-item-bg-color                 : $blue-grey-6;
$menu-item-bg-color-hover           : $blue-grey-7;
$menu-item-bg-color-active          : $menu-item-bg-color-hover;

$menu-item-icon-size                : 15px;
$menu-item-icon-color               : $menu-item-fg-color;
$menu-item-icon-color-hover         : $menu-item-fg-color-hover;
$menu-item-icon-color-active        : $menu-item-fg-color-hover;

$menu-item-link-padding             : 0;
$menu-item-link-margin              : 0;

$menu-item-icon-padding             : 0;
$menu-item-icon-margin              : 0 5px;


$menu-item-submenu-indent       : 20px;



$menu-hz-item-submenu-margin-trop: sl-without($global-menu-padding, 1rem);


$menu-items-padding: 0;

//endregion



//region: Foundation Menu

/// Margin of a menu.
/// @type Number
$menu-margin: 0 !default;

/// Left-hand margin of a nested menu.
/// @type Number
$menu-nested-margin: $global-menu-nested-margin !default;

/// Padding for items in a pill menu.
/// @type Number
$menu-items-padding: $global-menu-padding !default;

/// margin for items in a simple menu.
/// @type Number
$menu-simple-margin: 1rem !default;

/// Text color of an active menu item.
/// @type Color
$menu-item-color-active: $white !default;

/// Background color of an active menu item.
/// @type Color
$menu-item-background-active: get-color(primary) !default;

/// Spacing between an icon and text in a menu item.
/// @type Number
$menu-icon-spacing: 0.25rem !default;

/// Backward compatibility for menu state. If true, this duplicate `active` with `is-active`.
/// But please note that `active` will be removed in upcoming versions.
/// @type Boolean
$menu-state-back-compat: true !default;

/// Backward compatibility for menu centered. If true, this duplicate `.menu-centered > .menu` with `.menu.align-center`.
/// But please note that `menu-centered` will be removed in upcoming versions.
/// @type Boolean
$menu-centered-back-compat: true !default;

/// Backward compatibility for using `icon-*` classes without `.icons` classes
/// But please note that this backward compatibility will be removed in upcoming versions.
/// @type Boolean
$menu-icons-back-compat: true !default;

//endregion
