@import "../../../styles/base";
@import "variables";

@mixin menu-item-nested(
    $margin: $menu-nested-margin,
    $nested-alignment: left
) {
    @if $nested-alignment == right {
        padding-#{$global-right}: $margin;
        padding-#{$global-left}:  0;
    } @else {
        padding-#{$global-right}: 0;
        padding-#{$global-left}:  $margin;
    }

}

.menu {
    @include menu-base;
    font-family: $font-family-base;

    ul, ol, li { list-style: none !important; }

    ///
    /// HORIZONTAL
    ///
    &,
    &.horizontal {
        //height: $menu-horizontal-height;
        @include menu-direction(horizontal);

        &.equal-child-width {
            @include menu-expand;
        }
    }

    @if $menu-icons-back-compat {
        &.icon-top,
        &.icon-right,
        &.icon-bottom,
        &.icon-left {
            @include menu-icons;
        }
    }
    &.icon-left {
        @include menu-icon-position(left, 10px);
    }
    &.icon-right {
        @include menu-icon-position(right, 10px);
    }
    &.icon-top {
        @include menu-icon-position(top);
    }
    &.icon-bottom {
        @include menu-icon-position(bottom);
    }

    ///
    /// VERTICAL
    ///
    &.vertical {
        @include menu-direction(vertical);
        .children {
            &-right { @include menu-align(right); }
            &-left { @include menu-align(left); }
            &-center { @include menu-align(center); }
        }

        &.collapsed {
            //width:    $menu-vertical-collapsed-width;
            overflow: hidden;
            // child items should only show icons
            @include menu-icon-position(left, 0);
            li a {
                padding-right: 0.8rem;
                padding-left:  0.8rem;
                i, img, svg { margin: 0 }
                span { display: none; }
            }
        }
    }
    &.nested {
        > .menu-item {
            > a { @include menu-item-nested(2rem);}
            .nested.menu > .menu-item {
                > a { @include menu-item-nested(3rem);}
                .nested.menu > .menu-item {
                    > a { @include menu-item-nested(4rem);}
                    .nested.menu > .menu-item {
                        > a { @include menu-item-nested(5rem);}
                        .nested.menu > .menu-item {
                            > a { @include menu-item-nested(6rem);}
                        }
                    }
                }
            }
        }

    }

    //&.simple { @include menu-simple; }

    // Breakpoint specific versions
    @include -zf-each-breakpoint($small: false) {
        &.#{$-zf-size}-horizontal {
            @include menu-direction(horizontal);
        }

        &.#{$-zf-size}-vertical {
            @include menu-direction(vertical);
        }

        &.#{$-zf-size}-expanded {
            @include menu-expand;
        }

        &.#{$-zf-size}-simple {
            @include menu-expand;
        }
    }
    &.icons {
        @include menu-icons;
    }
    // Backward Compatibility for active state

    &.align-#{$global-left} {
        @include menu-align(left);
    }
    &.align-#{$global-right} {
        @include menu-align(right);

        .nested {
            @include menu-nested($nested-alignment: right);
        }
    }
    &.align-center {
        @include menu-align(center);
    }

    .menu-text {
        @include menu-text;
    }

    &.seperators .menu-item {
        border: 1px solid #333333;
    }
    // li.menu-item

    .menu-item {


        &,
        & > a {
            background-color: $menu-item-bg-color;
            color:            $menu-item-fg-color;
            font-size:        $menu-item-fg-size;
            font-weight:      $menu-item-fg-weight;

            > img, > i, > svg {
                color:     $menu-item-icon-color;
                font-size: $menu-item-icon-size;
            }
        }

        & > a {
            &:hover {
                text-decoration:  none;
                background-color: $menu-item-bg-color-hover;
                color:            $menu-item-fg-color-hover;
                > img, > i, > svg {
                    color: $menu-item-icon-color-hover;
                }
            }
            &.active,
            &:active {
                text-decoration:  none;
                background-color: $menu-item-bg-color-active;
                color:            $menu-item-fg-color-active;
                > img, > i, > svg {
                    color: $menu-item-icon-color-active;
                }
            }

            &,
            &:hover,
            &.active,
            &:active,
            &:visited,
            &:focus {
                text-decoration:       none;
                -webkit-shape-outside: none;
                outline:               0 !important;
            }
        }
        //> a {
        //    padding: $menu-item-link-padding;
        //    margin:  $menu-item-link-margin;
        //}
        &, & > a {
            > img, > i, > svg {
                padding: $menu-item-icon-padding;
                margin:  $menu-item-icon-margin;
            }
        }

        menu.horizontal &:not(:nth-last-child) {
            border-right: $menu-item-horizontal-seperator;
        }
        menu.vertical &:not(:nth-last-child) {
            border-bottom: $menu-item-vertical-seperator;
        }

    }

    .submenu {
        display: none;
        &-open {
            display: block;
        }
    }

    .submenu:not(.vertical) {
        position:   absolute !important;
        z-index:    9999;
        margin-top: $menu-hz-item-submenu-margin-trop;
        @include foundation-dropdown-menu();
    }

    // Active state
    .is-active > a {
        @include menu-state-active;
    }
    // Backward Compatibility for active state
    @if $menu-state-back-compat {
        .active > a {
            @include menu-state-active;
        }
    }
}

@if $menu-centered-back-compat {
    .menu-centered {
        > .menu {
            @if $global-flexbox {
                justify-content: center;
            }

            @include menu-align(center);
        }
    }
}

// Prevent FOUC when using the Responsive Menu plugin
.no-js [data-responsive-menu] ul {
    display: none;
}
