

.layout
    min-height 100vh

.title
    width 120px
    height 31px
    margin 16px 25px 16px 0
    float left
    padding 8px
    font-size 25px
    line-height 1rem
    color #ff5722


:local .sideMenuToggle
    fontSize 30
    color   white
    padding 17px
    height  100%

    &:hover
        cursor: pointer



:local .sideMenuToggleLeft
    composes sideMenuToggle
    float left



:local .sideMenuToggleRight
    composes sideMenuToggle
    float right



.footer
    background transparent

