@import "../../../styles/base";
@import "../../../styles/base/colors";

//@formatter:off
$menu-bg-color                 : $blue-grey-5;
$menu-bg                       : $menu-bg-color;
$menu-font-family              : $font-family-base;
$menu-vertical-width           : 300px;

$menu-item-font-size           : 14px;
$menu-item-bg-color            : $blue-grey-6;
$menu-item-fg-color            : $blue-grey-2;
$menu-item-icon-color          : $blue-grey-6;
$menu-item-padding            : 1rem;

//@formatter:on

:local {

    // ul
    .menu {
        list-style:  none;
        font-family: $font-family-base;
        background:  $menu-bg;
        &.vertical {
            max-width: $menu-vertical-width;
        }
    }

    //  ul > li
    .menu-item {
        list-style:       none;
        width:            100%;

        font-size:        $menu-item-font-size;
        background-color: $menu-item-bg-color;
        color:            $menu-item-fg-color;
        @include hover-focus-active {
            background-color: lighten($menu-item-bg-color, 10);
        }
    }

    //  ul > li > span
    .menu-text {
        display: initial;
    }

    //  ul > li > a
    .menu-link {
        display: initial;
    }

    .menu-item.menu-item-with-submenu {
        display: initial;
    }

    .submenu {
        display: none;

        &.open {
            display: initial;
        }
    }
}

